# Lambda (anônimas)

São funções que não tem nome e que podem ser criadas e utilizadas no mesmo momento.

Sintaxe: lambda argumentos: expressão

In [1]:
quadrado = lambda x: x**2

In [2]:
for i in range(1, 11):
    print(quadrado(i))

1
4
9
16
25
36
49
64
81
100

In [3]:
par = lambda x: x % 2 == 0

In [4]:
par(9)

False

In [5]:
par(2)

True

# map()

Permite aplicar uma função a cada elemento de um objeto iteravel.
Vem do paradigma de programação funcional, é uma função de ordem superior, pois recebe outra função como parâmetro ou pode retornar uma função.

Sintaxe: map(função, iterável)

In [6]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# Aplica a função lambda(x*2), a cada elemento do iterável num. Objeto retornado é tipo map, necessário conversão.
dobro = list(map(lambda x: x*2, num))

In [8]:
dobro

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
palavras = ['banana', 'uva', 'abacate', 'melão', 'maracujá', 'manga']

In [10]:
maiusculas = list(map(str.upper, palavras))

In [11]:
maiusculas

['BANANA', 'UVA', 'ABACATE', 'MELÃO', 'MARACUJÁ', 'MANGA']

# filter()

Filtra elementos de um objeto iterável.

Sintaxe: filter(função, sequência)

In [12]:
def eh_par(numero):
    return numero % 2 == 0

In [13]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [14]:
num_par = list(filter(eh_par, numeros))

In [15]:
num_par

[2, 4, 6, 8, 10, 12, 14]

In [16]:
num_impar = list(filter(lambda x: x %2 != 0, numeros))

In [17]:
num_impar

[1, 3, 5, 7, 9, 11, 13, 15]

# reduce()

Realiza operações cumulativas em objetos iteráveis.

sintaxe: reduce(função, sequência, valor_inicial)

In [18]:
from functools import reduce

In [19]:
def mult(x, y):
    return x * y

In [20]:
numeros = [1, 2, 3, 4, 5, 6]

In [21]:
produto = reduce(mult, numeros) # multiplica todos os elementos da lista números, acumulando em produto (neste caso é n!)

In [22]:
produto

720